@import "tailwindcss";

@theme {
    --font-sans: 'Inter', system-ui, sans-serif;
    --font-serif: 'Playfair Display', serif;

    --color-primary-50: #ecfdf5;
    --color-primary-100: #d1fae5;
    --color-primary-200: #a7f3d0;
    --color-primary-300: #6ee7b7;
    --color-primary-400: #34d399;
    --color-primary-500: #10b981;
    --color-primary-600: #059669;
    --color-primary-700: #047857;
    --color-primary-800: #065f46;
    --color-primary-900: #064e3b;
    --color-primary-950: #022c22;

    --color-secondary-50: #fefce8;
    --color-secondary-100: #fef9c3;
    --color-secondary-200: #fef08a;
    --color-secondary-300: #fde047;
    --color-secondary-400: #facc15;
    --color-secondary-500: #eab308;
    --color-secondary-600: #ca8a04;
    --color-secondary-700: #a16207;
    --color-secondary-800: #854d0e;
    --color-secondary-900: #713f12;
    --color-secondary-950: #422006;
}

@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        @apply font-sans antialiased text-slate-800 bg-slate-50;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-serif font-bold text-slate-900;
    }
}